.cont {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Patrick Hand", cursive;
}

.sideitem {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  height: auto;
  width: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.images {
  height: 508px;
  width: auto;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  border-radius: 3px 3px 0px 0px;
}

.cont1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 90px;
  background-color: #708d81;
  border-radius: 0px 0px 3px 3px;
  color: #f4d58d;
}

.linkName {
  margin-left: 10px;
  font-size: 34px;
}

.linkText {
  margin-left: 10px;
  font-size: 24px;
}

@media (max-width: 1635px) {
  .sideitem {
    height: 500px;
    width: 340px;
  }
}

@media (max-width: 1300px) {
  .sideitem {
    height: 500px;
    width: 340px;
  }
}

@media (max-width: 1210px) {
  .sideitem {
    height: 500px;
    width: 340px;
  }
}

@media (max-width: 950px) {
  .sideitem {
    height: 500px;
    width: 340px;
  }
}

@media (max-width: 795px) {
  .sideitem {
    height: 500px;
    width: 340px;
  }

  .linkName {
    font-size: 26px;
  }

  .linkText {
    font-size: 20px;
  }
}

@media (max-width: 545px) {
  .sideitem {
    height: 450px;
    width: 310px;
  }
}
