.Navbar {
  font-family: "Patrick Hand", cursive;
  width: 100%;
  height: 65px;
  font-size: 22px;
  background-color: #708d81;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f4d58d;
}
.profileAvatar {
  overflow: hidden;
  background-position: center;
  width: 2.8em;
  height: 2.8em;
  border-radius: 50%;
  border: 2px solid #f4d58d;
  background-color: #708d81;
  margin-right: 10px;
}

.logo {
  display: flex;
  align-items: center;
  padding: 15px 0;
  margin-left: 10px;
}

.ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  margin-right: 10px;
  margin-left: auto;
}

.button {
  font-family: "Patrick Hand", cursive;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #708d81;
  font-weight: 600;
  font-size: 22px;
  border-radius: 1px;
  border: solid #f4d58d;
  cursor: pointer;
  color: #f4d58d;
  transition: 0.7s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ulClosed {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
  background-color: #708d81;
  position: relative;
  margin-top: 360px;
  height: 300px;
  width: 100vh;
}

.li {
  padding: 18px 10px;
  cursor: pointer;
}

.li:hover {
  padding: 18px 10px;
  cursor: pointer;
  color: #008970;
  background-color: #99eedf;
}

.menu {
  display: flex;
  align-items: center;
}
.StyledBurger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  flex-flow: column nowrap;
}

.div {
  width: 2rem;
  height: 0.25rem;
  background-color: #99eedf;
  border-radius: 10px;
}

@media (min-width: 796px) {
  .menu {
    display: none;
  }

  .ulClosed {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    margin-left: auto;
    margin-top: 0;
    height: auto;
    width: auto;
  }
}

@media (max-width: 795px) {
  .ul {
    display: none;
    flex-flow: column nowrap;
    background-color: #f1f1f1;
    position: relative;
    top: 0;
    right: 0;
    height: 300px;
    width: 300px;
    margin-top: 3.5rem;
    margin-right: -60px;
  }

  .ulClosed {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    background-color: #708d81;
    position: absolute;
    width: 100%;
    font-size: 26px;
  }
  .Navbar {
    font-size: 20px;
  }
}
