* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  min-height: 100vh;
}

.Footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  background-color: #8cbfa4;
}

.cont {
  display: flex;
  flex-direction: column;
}

.search {
  height: 600px;
}

.images {
  display: flex;
  flex-direction: row;
}
